<% layout('/layouts/boilerplate') -%>
<body>
    <form action="/list/add" class="needs-validation" novalidate method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>Create List</h1>
                <div class="mb-3">
                <label for="title" class="form-label" >Title</label>
                    <input type="text" name="list[title]" placeholder="title" class="form-control" >
                    <div class="invalid-feedback">
                        Please choose a Title.
                    </div>
                </div>
                <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="list[description]" class="form-control" placeholder="description" ></textarea>
                    <div class="invalid-feedback">
                        Please choose a Description.
                    </div>
                </div>
                
                <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" name="list[image]" class="form-control" placeholder="image">
                    <div class="invalid-feedback">
                        Please choose a Description.
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="price" class="form-label">Price</label>
                            <input type="text" name="list[price]" placeholder="price" class="form-control" >
                            <div class="invalid-feedback">
                                Please choose a Price.
                            </div>
                    </div>
                    <div class="col-md-8">
                    <label for="location" class="form-label">Location</label>
                        <input type="text" name="list[location]" placeholder="location" class="form-control" >
                        <div class="invalid-feedback">
                            Please choose a Location.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                    <input type="text" name="list[country]" placeholder="country" class="form-control" >
                    <div class="invalid-feedback">
                        Please choose a Country.
                    </div>
                </div>
        
                <button class="form-control btn btn-danger">Save</button>
            </div>
        </div>
    </form>
</body>